extend layout
block content
    div(class="form-container container")
    h1(id="login_header") login
     form(method="post" action="/login" class="form" id="logi _form")
      div(class="input_con container")
       input(id="username" class="input" placeholder="Username" type="text")
      div(class="input_con container")
       input(id="password" class="input" placeholder="password" type="password")
     div(class="submit_con")
      input(type="submit" id="submit" value="submit")
      a(href="/user/signup") Signup
    
    
    
    
    
    
    
    
    
    