:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}
:root.theme-1{
    $text-color1:;
    $text-color2:;
    $back-color1:;
    $back-color2:;
}







